<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= t( "logo_text" ) %></h1>
    <p class="lead text-muted"><%= t( "promo_text" ) %></p>
    <p>
      <a href="" class="btn btn-primary"><%= t( "spb_button" ) %></a>
      <a href="/workers/" class="btn btn-secondary"><%= t( "other_buttons" ) %></a>
    </p>
  </div>
</section>

<img class="img_logo" src="<%= image_url('logo.jpg') %>">