<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= t( "logo_text" ) %></h1>
    <p class="lead text-muted"><%= t( "promo_text" ) %></p>
    <p>
      <a href="/workers/city/%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3" class="btn btn-primary"><%= t( "spb_button" ) %></a>
      <a href="/workers/" class="btn btn-secondary"><%= t( "other_buttons" ) %></a>
    </p>
  </div>
</section>

<img class="img_logo" src="<%= image_url('logo.jpg') %>">