<div class="row">
  <div class="col-sm-8">
    <input id="search" placeholder="<%= t("search") %>">

    <div class="workers">
      <% @workers_list.each do |workers| %>
        <div class="worker">
          <div class="row">
            <div class="col-sm-6">
              <img id="worker_<%= workers.id %>_image" file_name="<%=workers.photo_url.to_s %>" src="<%= image_url('workers/' + workers.photo_url.to_s) %>">
            </div>
            <div class="col-sm-6">
              <h3 id="worker_<%= workers.id %>_fio"><%= workers.fio %></h3>
              <small id="worker_<%= workers.id %>_email"><%= workers.email %></small>
              <small id="worker_<%= workers.id %>_phone"><%= workers.phone %></small>
              <small id="worker_<%= workers.id %>_city"><%= workers.city_name %></small>
              <small id="worker_<%= workers.id %>_info" style="display: none;"><%= workers.info %></small>
              <%= link_to t('show'), worker_path(workers) %>
              <br>
              <%= link_to t('delete'), worker_path(workers), method: :delete, data: {:confirm => "You sure?"} %>
              <br>
              <a href class="change_user" user_id="<%= workers.id %>">Изменить</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>

  <div class="col-sm-4 add_new">
    <%= t('add_workers') %>
    <br>

    <input type="hidden" id="user_id" name="user_id">
    <input id="fio" name="fio" placeholder="ФИО">
    <input id="email" name="email" placeholder="Электронный адрес">
    <input id="phone" name="phone" placeholder="Телефон">
    <input id="city" name="city" placeholder="Город">
    <input id="image" name="image" placeholder="Имя файла фотографии">
    <textarea id="info" name="info" placeholder="Описание"></textarea>
    <button type="button" class="btn btn-success" id="add_new_worker">Добавить</button>
    <button type="button" class="btn btn-success" id="edit_worker" style="display: none;">Изменить</button>

  </div>

</div>

